<div class="container">
    <div class="d-flex justify-content-between" style="margin-top:30px">
        <div>
            <mat-card-title id="t1">Account Details</mat-card-title>
            <mat-card-subtitle id="t3">Manage Your Account here</mat-card-subtitle>
        </div>
    </div>
    <mat-card class="DoctorCard" style="width:800px;height:300px">
        <mat-card-header style="width: 100%;">
            <button class="btn btn-danger" style="margin-left: 500px;;width:50px;height:43px;color: black;"
                (click)="openDialog()">Edit</button>
            <hr>
            <img class="example-header-image" style="width:100px;height:100px;margin-top: 30px;"
                src="../../assets/HeaderVet.jpg"
                alt="img" mat-card-avatar>
        </mat-card-header>
        <div class="my-appdate-apptime" style="margin-left:150px;">
            <mat-card-content>
                <table>
                    <tr>
                        <td style="padding: 0 15px;">
                            <span id="name" *ngIf="vet">
                                Name:<strong> {{vet.VetName}}</strong><br />
                            </span>
                        </td>
                        <td style="padding:0 30px ;">
                            <span id="phnNo" *ngIf="vet">
                                Mobile No:<strong>{{vet.VetContactInfoDTO.PhoneNum}}</strong>
                            </span>
                        </td>
                    </tr>
                    <br>
                    <tr>
                        <td style="padding: 0 15px;">
                            <span id="nipNo" *ngIf="vet">
                                NPINo:<strong>{{vet.NPINum}}</strong>
                            </span>
                        </td>
                        <td style="padding:0 30px ;">
                            <span id="email" *ngIf="vet">
                                Email: <strong>{{vet.VetContactInfoDTO.EmailId}}</strong>
                            </span>
                        </td>
                    </tr>
                    <br>
                    <tr>
                        <td style="padding:0 15px;">
                            <span id="speciality" *ngIf="vet">
                                Speciality:<strong>{{vet.Speciality}}</strong>
                            </span>
                        </td>
                        <td style="padding:0 30px ;">
                            <span id="clinic" *ngIf="vet">
                                Clinic: <strong>{{vet.VetContactInfoDTO.ClinicAddress}}</strong>
                            </span>
                        </td>
                    </tr>
                    <br>
                </table>

                <br />

            </mat-card-content>
        </div>

    </mat-card>
</div>